<template>
  <div>
    <h1>Clients</h1>

    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Name</th>
            <th class="text-center">Phone</th>
            <th class="text-center">Address</th>
            <th class="text-right">
              <v-btn color="green" dark to="/clients/new">
                New Client
              </v-btn>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="client in clients" :key="client.id">
            <td>{{ client.id }}</td>
            <td>{{ client.name }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.address }}</td>
            <td class="text-right">
              <v-btn color="deep-purple" dark :to="'/clients/' + client.id">
                Detail
              </v-btn>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>

  </div>
</template>

<script>
import {Storage} from '@/models/data'

export default {
  name: 'Clients',
  data() {
    return {
      clients: []
    }
  },
  mounted() {
    this.loadData()
  },
  methods: {
    async loadData() {
      const headers = {
        headers: {
          "Content-Type": "application/json",
          'token': Storage.getItem('token')
        }
      }

      const response = await this.axios.get(`${window.SERVER}/clients`, headers)
      this.clients = response.data.clients || []
    },
  }
}
</script>

<style>

</style>