<template>
  <div>
    <v-form ref="form" v-model="valid" @submit.prevent="saveForm">
      <v-card class="pa-md-4 mx-auto" width="400">

        <v-card-title v-if="!client.id">Create Client</v-card-title>
        <v-card-title v-if="client.id">Edit Client</v-card-title>

        <v-card-text>
          <v-text-field
            v-model="client.name"
            :rules="textRules"
            label="Name" required></v-text-field>
          <v-text-field
            v-model="client.address"
            :rules="textRules"
            label="address" required></v-text-field>
          <v-text-field
            v-model="client.phone"
            :rules="textRules"
            label="Phone" required></v-text-field>
        </v-card-text>

        <v-card-actions>
          <v-btn color="deep-purple" text type="submit" :disabled="!valid">
            Save
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="red" text :disabled="!valid" v-if="client.id" @click="deleteClient">
            Delete
          </v-btn>
        </v-card-actions>

      </v-card>
    </v-form>

  </div>
</template>

<script>
import {Storage} from '@/models/data'

export default {
  name: 'Client',
  data() {
    return {
      client: {
        id: '',
        name: '',
        phone: '',
        address: '',
      },
      valid: true,
      textRules: [
        v => !!v || 'Field is required',
        v => v.length < 200 || 'Max 200 characters',
      ],
    }
  },
  async created() {
    await this.loadData()
  },
  methods: {

    async loadData() {
      if (isNaN(this.$route.params.id)) {

        this.client.id = ''
        this.client.phone = ''
        this.client.name = ''
        this.client.address = ''

      } else {

        const headers = {
          headers: {
            "Content-Type": "application/json",
            'token': Storage.getItem('token')
          }
        }

        const response = await this.axios.get(`${window.SERVER}/clients/${this.$route.params.id}`, headers)
        const client = response.data.client

        this.client.id = client.id
        this.client.phone = client.phone
        this.client.name = client.name
        this.client.address = client.address
      }
    },

    async saveForm() {
      const headers = {
        headers: {
          "Content-Type": "application/json",
          'token': Storage.getItem('token')
        }
      }

      if (isNaN(this.$route.params.id)) {
        await this.axios.post(`${window.SERVER}/clients`, this.client, headers)
        alert('Client correctly saved')
      } else {
        await this.axios.put(`${window.SERVER}/clients/${this.$route.params.id}`, this.client, headers)
        alert('Client correctly updated')
      }

      this.$router.push('/clients')
    },

    async deleteClient() {
      const headers = {
        headers: {
          "Content-Type": "application/json",
          'token': Storage.getItem('token')
        }
      }

      await this.axios.delete(`${window.SERVER}/clients/${this.$route.params.id}`, headers)

      alert('Client correctly deleted')
      this.$router.push('/clients')
    }
  }
}
</script>

<style>

</style>