<template>
  <div class="home">

    <div class="pa-md-4 mx-lg-auto" width="400" v-if="user">
      <h1>Welcome</h1>
      <p class="mt-10">
        <strong>User:</strong> {{ user.name }}<br>
        <strong>Email:</strong> {{ user.email }}
      </p>
    </div>

    <v-form ref="form" v-model="valid" @submit.prevent="makeLogin" v-if="!user">
      <v-card class="pa-md-4 mx-auto" width="400">

        <v-card-title>Login</v-card-title>

        <v-card-text>
            <v-text-field v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>
            <v-text-field v-model="password" :rules="passwordRules" label="Password" required type="password"></v-text-field>
        </v-card-text>

        <v-card-actions>
          <v-btn color="deep-purple" text type="submit" :disabled="!valid">
            Login
          </v-btn>
        </v-card-actions>

      </v-card>
    </v-form>

  </div>
</template>

<script>
import {Storage} from '@/models/data';

export default {

  name: 'Home',

  data: () => ({
      valid: true,
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      password: '',
      passwordRules: [
        value => !!value || 'Required.',
        v => v.length >= 8 || 'Min 8 characters',
      ],
      user: null,
  }),

  mounted() {
    const token = Storage.getItem('token')
    const user = Storage.getItem('user')

    if (token && user) this.user = user
  },

  methods: {
    async makeLogin() {
      try {

        const response = await this.axios.post(`${window.SERVER}/login`, {
          email: this.email,
          password: this.password
        })

        // Guardar en storage.
        Storage.setItem('token', response.data.token)
        Storage.setItem('user', response.data.user)

        // Actualizar componentes.
        this.user = response.data.user
        this.$bus.$emit('onlogin', { user: response.data.user })

        this.$router.push('/clients')

      } catch(err) {

        console.error(err.body)

      }
    }
  }

}
</script>
