<template>
  <v-app>

    <v-app-bar absolute dark color="deep-purple accent-4">

      <v-toolbar-title>
        Reditech Clients
        <small v-if="user">({{ user.name }})</small>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon @click="$router.push('/')">
        <v-icon>mdi-home</v-icon>
      </v-btn>

      <v-btn v-if="user" icon @click="$router.push('/clients')">
        <v-icon>mdi-format-list-bulleted-square</v-icon>
      </v-btn>

      <v-btn v-if="user" icon @click="makeLogout">
        <v-icon>mdi-logout</v-icon>
      </v-btn>

    </v-app-bar>

    <v-main class="mt-16 pt-4">
      <router-view></router-view>
    </v-main>

  </v-app>
</template>
<script>
import {Storage} from '@/models/data';

export default {

  data: () => ({
    user: null,
  }),

  mounted() {
    const token = Storage.getItem('token')
    const user = Storage.getItem('user')

    if (token && user) this.user = user

    this.$bus.$on('onlogin', (data) => {

      this.user = data.user

    })
  },

  methods: {
    makeLogout() {
      Storage.removeItem('token')
      Storage.removeItem('user')
      window.localStorage.clear()
      this.$bus.$emit('onlogin', { user: null })
      this.$router.push('/')
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
